brotli==1.2.0
cairocffi==1.7.1
cairosvg==2.8.2
cffi==2.1.1
cssselect2==0.10.1
defusedxml==0.7.1
fonttools==4.66.1
markdown==3.8.2
pillow==12.3.0
pycparser==3.1
pydyf==0.12.1
pygments==2.19.2
pypdf==6.1.1
pyphen==0.18.1
pyyaml==6.0.2
tinycss2==1.5.1
tinyhtml5==2.1.0
weasyprint==66.0
webencodings==0.6.1
zopfli==0.4.3
