//! {{ names.human }} CQRS command handler.

use firefly_cqrs::{command_handler, CommandHandler};

use super::{{ names.snake }}_command::{{ names.pascal }};

/// Handles [`{{ names.pascal }}`] commands.
#[derive(Debug, Default, Clone)]
pub struct {{ names.pascal }}CommandHandler;

#[command_handler]
impl CommandHandler<{{ names.pascal }}, String> for {{ names.pascal }}CommandHandler {
    async fn do_handle(&self, command: {{ names.pascal }}) -> String {
        // TODO: implement {{ names.human }} command handling.
        command.id
    }
}
